<div class="container">
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let user of allUser">
      <div class="card">
        <img src="{{ user.image }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h4>
            {{ user.firstName }}
          </h4>
          <h5>
            {{ user.title }}
          </h5>
          <form>
            <div
              *ngFor="let todo of user.todos"
              [ngClass]="{
                'bg-success': todo.completed,
                'bg-danger ': !todo.completed
              }"
            >
              <input
                [(ngModel)]="todo.completed"
                type="checkbox"
                id="=completed-{{ todo.id }}"
                name="completed-{{ todo.id }}"
              />
              {{ todo.todo }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
